<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%=name %>
    <%product %>


    <!-- ejs 태그 안에 오는 자바스트립트 코드는 한줄로 끝나야함 <% %> 이 코드가 한줄에서 끝내야한다는 말.-->
    <% for(let i = 0; i < product.length; i++) { %>
        <!-- ejs 태그 안에 바로 =이 오면 =뒤에있는 변수나 값을 html로 노출시킨다. -->
        <div> 상품 <%=product[i] %></div>
    <% } %>   
    <!-- ejs 태그 안에 바로 =이 오면 뒤에 있는 변수나 값을 html로 노출시킨다 -->
    <%="hello dahyun" %>

    <!-- 서버를 수정한게아니고 객체들을 수정한거는 그냥 새로고침하면 된당 서버 수정한건 닫았다 열어야함. -->

    <!-- ejs 태그 안에 바로 =이 오면 뒤에 있는 변수나 값을 html로 노출시킨다(html 태그를 인식한다) -->
    <%="<div>안녕?</div>"%>


    <%-"<div>안녕?</div>"%>

    <%-include("index.ejs") %>



</body>
</html>