<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .container{
            text-align: center;
            background-color: bisque;
            /* display: flex;

            align-items: center;
            width: 200px;
            height: 400px; */
        } 
        
        
    </style>
</head>
<body>
    <div class="container">
      <div>  
        <img src="/<%=src%>">
      </div>
      <div>
         <h4> <%=id%> 님 환영합니다 </h4>
         <p>비밀번호 : <%=pw%> </p>
         <p>이름 : <%=name%> </p>
         <p>나이 : <%=age%> </p>
     </div>
    </div>
</body>
</html>